<script>
import BaseButton from "./BaseButton.vue"
import { mapActions } from "vuex"
	export default {
		name: "MenuItem",
		components: {
			BaseButton
		},
		props: {
			image: {
			type: String,
			required: true
			},
			name: {
				type: String,
				required: true,
				defaut : "" 
			},
			price: {
				type: Number,
				required: true
			},
			
			quantityInStock : {
				type : Number
			}
		},
		methods: {
			...mapActions(["updateShoppingCart" , "updateQuantityInPanier"]), 

			updatePanierInfos(){
				this.$store.dispatch('updateQuantityInPanier',  { amount : this.quantity, name : this.name })
			}
		}, 

		data() {
			return {
				quantity :0
			}
		}
	}
	
</script>
<template>
	<div class="menu-item">
	<img class="menu-item__image" :src="image" :alt="image.alt" />
		<div>
			<h3> {{ name }} </h3>
			<p>Prix : {{ price}} $ </p>
			<div v-if="quantityInStock > 0">
				<p> {{ quantityInStock }} en stock</p>
				<input v-model.number="quantity" id="add-item-quantity" type="number" />
				<BaseButton  @click="updatePanierInfos() " class="test" v-if="quantityInStock >= quantity">
					Ajouter au panier 
				</BaseButton>
				<p class="ruptureStock" v-if="quantityInStock < quantity"> pas assez en stock </p>
			</div>
			<p class="ruptureStock" v-else>En rupture de stock</p>
			
		</div>
	</div>
</template>

<style lang="scss">
.menu-item {
	display: flex;
	width: 500px;
	justify-content: space-between;
	margin-bottom: 30px;

	&__image {
		max-width: 300px;
	}
}
.ruptureStock {
	color: red;
}
</style>
