<script>
import { mapState, mapGetters } from "vuex"
	export default {
		name: "PanierItem",
		props: {
			image: {
			type: String,
			required: true
			},
			name: {
				type: String,
				required: true
			},
			price: {
				type: Number,
				required: true
			},
			quantityInStock : {
				type : Number
			}
			
		},
        computed: {
            ...mapState({
                panier : "panier"
            }),
			...mapGetters ({
				getQuantity : "getQuantity"
			}),
			getQuantity (){
				return this.$store.getters.getQuantityItem(this.name)
			},
            generatedTotalPrice() {
				if(this.getQuantity != undefined) {
					return this.price * this.getQuantity
				} else {
					return 0
				}
			}
        },
    }
</script>

<template>
	<div class="panier-item">
	<img class="panier-item__image" :src="image" :alt="image.alt" />
		<div>
			<h3>{{ name }}</h3>
			<p>Prix : {{ price}} $ </p>
            <p > Quantité commandée : {{ getQuantity }} </p>
			<p > Prix total : {{  generatedTotalPrice }} $ </p>
		</div>
	</div>  
</template>

<style lang="scss">
.panier-item {
	display: flex;
	width: 500px;
	justify-content: space-between;
	margin-bottom: 30px;

	&__image {
		max-width: 300px;
	}
}
.ruptureStock {
	color: red;
}
</style>