<template>
    <div id="login">
        <h1>Login</h1>
        <div class="form-inputs">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" v-model="input.username" placeholder="Username" />
        </div>
        <div class="form-inputs">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" v-model="input.password" placeholder="Password" />
        </div>
        <button type="button" v-on:click="testlogin">Login</button>
    </div>
</template>

<script>
import { mapActions } from "vuex"
    export default {
        name: 'Login',
       data() {
            return {
                input: {
                    username: "",
                    password: ""
                }
            }
       },
        props: {
	
		},
        methods : {
            ...mapActions({
                login : "login"
            }),
            testlogin(){
                
                this.$store.dispatch('login',  { id : this.input.username, mdp : this.input.password })
            }
        }
    }
</script>

<style>

#login .form-inputs {
    padding-bottom: 10px;
}

#login .form-inputs label {
    padding-right: 10px;
}

</style>