<template> 
    <section class="panier">
        <h1> Votre Panier </h1>
			<PanierItem
				v-for="item in simpleMenu"
				:name="item.name"
				:price="item.price"
				:image= "item.image"
				:quantityInStock = "item.quantityInStock"
				:key="item.name"
			/>
		<BaseButton  @click="updatePanierTotal; supprimerItemStock;" class="test">
					Commander
		</BaseButton>
        <p> Total commande : {{ totalAmount}} $ </p>
	</section>
</template>

<script>
import BaseButton from "../components/BaseButton.vue"
import PanierItem from "../components/PanierItem"
import { mapState, mapActions } from "vuex"
export default {
	name: "Panier",
	components: { 
		PanierItem, 
		BaseButton
	},
	computed: {
		...mapState({
			simpleMenu: "simpleMenu",
			totalAmount : "totalAmount"
			
		}), 
		...mapActions({
			updatePanierTotal : "updatePanierTotal"
		})
	}
}
</script>