<template>
  <div id="app">
    <div id="nav">
      <router-link  v-if= "authenticated" to="/">Home</router-link> |
      <router-link  v-if= "authenticated" to="/Panier">Panier</router-link> |
      <router-link  v-if= "authenticated" to="/About">About</router-link> |
      
      <router-link v-if= "authenticated" to="/login" v-on:click.native="logout" replace>Logout</router-link>
      <router-link v-else to="/login">Login</router-link> 

    </div>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>

<script>
import { mapState, mapActions } from "vuex"
  export default {
    name : 'App',
    mounted () {
      if(!this.authenticated) {
          this.$router.replace({ name: "login" });
      }
      this.$store.dispatch('initState')
    },
    computed : { 
      ...mapState({
        authenticated : "authenticated"
      }), 
      ...mapActions({
        logout : "logout"
      })
    }
  }
</script>
